.header{
    width: 100%;
    height: 20%;
    max-height: 10%;
    text-align: center;
    div{
        vertical-align: top;
        display: inline-block;
        div{
            background-color: azure;
            border-style: double;
            border-width: 3px;
            border-radius: 9px;
        }
    }
    h1{
        font-size: 36px;
    }
}
.profile-box{
    width: 15%;
    text-align: left;
    /* .profile{

    } */
}

.counter-box{
    margin-right: auto;
    width: 69%;
    height: 100%;
    text-align: center;
    .counter{
        max-width: 60%;
    }
}

.coins-box{
    text-align: right;
    max-width: 15%;
    .coins{

        width: 80%;
        max-width: 80%;
        text-align: left;
        vertical-align: middle;
        padding: 0 5px;
        
        .coins-img{
            display: inline-block;
            width: 15%;
        }

        .total-coins{
            display: inline-block;
            max-width: 75%;
            font-size: 36px;
        }
    }
}

.animal-block{

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    
    width: 100%;
    height: 100%;

    img {
        width: auto;
        height: 40%;
        display: block;
        border: none;
    }
}

.choose-animal-bar{
    position: absolute;
    height: 15%;
    max-height: 15%;
    width:100%;
    bottom: 0;

    border-style:inset;
    border-width: 2px;
    border-color: black;
    text-align: center;
    background-color: azure;
    
    img{
        margin: 0px 5px 0px;
        height: 100%;
        width: auto;
    }
}



html{
    height: 100%;
    margin:0;
    padding:0; 
}

body {
    background-image: url("../source/main_backgroound.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin:0;
    padding:0;
}
