.header{
    width: 100%;
    height: 20vh;
    text-align: center;
    div{
        vertical-align: top;
        display: inline-block;
        height: 50%;
        div{
            height: 100%;
            vertical-align: middle;
            max-height: 100%;
            background-color: azure;
            border-style: double;
            border-width: 5px;
            border-radius: 9px;
            overflow:Inherit;
        }
    }
}

.profile-box{
    width: 13%;
    text-align: left;
    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.current-animal-box{
    width: 12%;
    text-align: left;
    .current-animal{
        img{
            height: 100%;
            width: auto;
        }
    }
}
.current-animal{
    text-align: center;
    min-width: 50%;
}
.counter-box{
    width: 48%;
    text-align: center;
    .counter{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80%;
    }
}

.coins-box{
    text-align: right;
    max-width: 25%;

    .coins{
        padding: 0 5px;
        display: inline-block;
        .total-coins{
            display: inline-block;
            max-width: 75%;
            max-height: 100%;
            font-size: 36px;
        }
    }
}

.coins-img{
    position: relative;
    transform: translateY(-50%);
    top: 50%;

    display: inline-block;
    width: 15%;
}

.game-field{
    height: 80vh;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    display: flex;
}

.animal-block{
    width: auto;
    height: 80%;
}

.animals-menu{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 80vw;
    height: 70vh;

    background-color: azure;

    border-radius: 9px;
    border-style: double;
    border-width: 9px;

    padding: 1% 1% 1% 1%;

    overflow-y: scroll; 

}
.animals-fields-menu{
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 50%;
}
.animals-icons{
    width: 80%;
    height: auto;
}
.animals-prices{
    height: 20%;
    width: 100%;
    vertical-align: middle;
}
html{
    height: 100%;
    margin:0;
    padding:0; 
}

body {
    background-image: url("../source/main_backgroound.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin:0;
    padding:0;
}
h1{
    display: inline-flex;
        align-items: center;
        justify-content: center;
    line-height: 0px;
}